/*.styl
{
     font-family: Arial,Helvetica;
     font-size: 30px;
 	 color: black;
	border-radius: 12px;
    text-align: center;
    background-color: #00dcff;
    margin: 80px;
    padding: 10px;
}
.form
{
	margin :100px;
	padding: 100px;
}
*/
/*projet*/
*
{
	margin: 0;
	padding: 0;
}
.form-group
{
	margin: 0;
	padding: 0;	
}

/**********************Desgin Div Compétance******************/
.center
{
	width: 50%;
	position: absolute;
	top: 75%;
	left: 74%;
	height: 410px;
	transform: translate(-50%, -50%);
    padding: 20px;
    background: #eae5e5;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
}
.center img
{
	border-radius: 23px;
}
.h
{

	text-align: left;

	margin: 0;
	position: 0; 
	letter-spacing: 1px;
    
}
.skillsbox
{
box-sizing: border-box;
width: 100%;
margin: 20px 0;
}
.skillsbox p
{
	margin: 0 0 10px;
	padding: 0; 
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}
.skillsbox p:nth-child(2)
{
	float: right;
    position: relative;
    top: -25px; 
}
.skills
{
	background: #262626;
	padding: 4px;
	box-sizing: border-box;
	border: 1px solid #0fffb7;
	border-radius: 2px; 
}
.skills_level
{
	background: #0fffb7;
	width: 100%;
	height:10px;
}
/*@keyframes Télécommunication{
	0%{
		width: 0%;
	}
	100%{
		width: 65%;
	}
}*/
#cv
{
	background-image: url("../images/imag.png");
}
/*-----------------------Desgin div head--------------------------------------*/
.hed
{
    margin: 0;
    padding: 50px;
    width: 100%;
    height: 180px;
	left: 50%; 
    background: #eae5e5;
    box-sizing: border-box;
} 
.hed img
{
	width: 150px;
	height:150px;
	float: right;
	margin: -8%;
    padding: 75px;
    border-radius: 50%;
}
.hed h1
{
font-family: Times New Roman;	
}
.hed p
{
	font-family: Comic Sans MS;
    font-size: 18px;
}
/*---------------------------Desgin Div à propos-----------------------*/
.prop
{
	width: 45%;
	height: 408px;
	position: absolute;
	top: 75%;
	right: 31%;
	transform: translate(-50%, -50%);
    padding: 20px;
    background: #eae5e5;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);	
}
.prop p
{
	margin: 0 0 10px;
	padding: 0; 
	color: #000;
	text-align: justify;
	letter-spacing: 1px;
	font-weight: bold;
}
.prop img
{
	border-radius: 50px;
}
















#bb{
	margin: 0;
	padding: 0;
	background: url(../images/jj.jpeg);
	background-repeat:no-repeat;
	background-position: top;
	
}
/*.first
{
	width: 300px;
	height: 250px;
	color: #000;
	text-align: center;
	background: #fdc6bf;
    top: 25%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box; 
    border-radius: 30px;
    background-color: transparent;
}
.first input[type="button"]
{

	margin: 10%;
	border: double;
	outline: none;
	height: 40px;
	background: transparent;

    text-align: center;
	font-size: 30px;
	border-radius: 10%;
}*/
/*Inscreption*/
#dd
{
	    background: url(../images/aa.jpg) no-repeat;
}
.insc
{
    width: 350px;
	height: 670px;
	color: #000;
	background: #B0E0E6;
	border-radius: 10%;
    top: 62%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 50px;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
}


#insc1 input[type="button"], input[type="reset"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #fff;
	clear: #fff;
	font-size: 18px;
	border-radius: 10%;
}



#sig
{
  width: 100px;
  height: 100px;
  border-radius: 50%;	
  position: absolute; 
  top: -35px;
  left: calc(50% - 50px);
}

/*connexion*/
#cc
{
	background:url(../images/wowe.jpg);
}
.conx
{
    width: 320px;
	height:420px;
	color: #000;
	background: #18bc9c;
	border-radius: 10%;
    top: 188%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.user
{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute; 
  top: -50px;
  left: calc(50% - 50px);
}
.h{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 30px;
}
.conx p
{
	margin:0;
	padding: 0;
	font-weight: bold;
}
.conx input
{
	width: 100%;
	margin-bottom: 20px;
}
.conx input[type="password"]
{
	border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    size: 16px;
}
#in{
	border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    size: 16px;
}
.conx input[type="button"], input[type="reset"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #fff;
	clear: #fff;
	font-size: 18px;
	border-radius: 10%;
}
.insc p
{
}
/******************************Design Choix*************************************/

/*******************************************************************************/



/************************************************************************************/
#h{
	margin: 0;
	padding: 0 0 20px;
	text-align:left;
	font-size: 30px;
}
